/* General layout */
* {
    box-sizing: border-box;
}

body {
    width: 90%;
    margin: 2em auto;
    font: 1em/1.2 Verdana, Helvetica, sans-serif;
}

/* For TESTIMONIAL slider */
.slideshow-container {
    position: relative;
    background: rgb(247, 245, 245);
}

/* Slides */
.mySlides {
    display: none;
    padding: 80px;
    text-align: center;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.dot.active,
.dot:hover {
    background-color: #717171;
}

/* Navbar active link */
.nav-link.active {
    color: #ccad00; /* change text color instead of background */
    font-weight: bold;
}

/* Italic font for quotes */
q {
    font-style: italic;
}

/* Author text */
.author {
    color: rgb(43, 43, 44);
    font-size: 0.9em;
}

/* Navbar styling */
a:link,
a:visited {
    color: #333;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav a:link,
nav a:visited {
    text-decoration: none;
    display: block;
    padding: 10px 15px; /* uniform padding */
    color: #333;
    font-weight: bold;
}

nav a:hover {
    color: #ccad00;
}

/* Hide navbar for mobile */
.nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 1000;
}

.nav-menu.active {
    left: 0;
}

.nav-item {
    margin: 2rem 0;
}

/* Hamburger menu */
.hamburger {
    display: block;
    cursor: pointer;
    z-index: 1100;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

/* Responsive navbar */
@media screen and (min-width: 40em) {
    .hamburger {
        display: none;
    }

    .nav-menu {
        display: flex;
        justify-content: center; /* align center */
        align-items: center;
        position: static;
        top: 0;
        flex-direction: row;
        width: 100%;
        background-color: transparent;
        box-shadow: none;
    }

    .nav-item {
        margin: 0 15px;
    }

    nav a:link,
    nav a:visited {
        padding: 10px 15px;
    }

    nav a:hover {
        color: #ccad00;
    }
}

@media screen and (min-width: 70em) {
    .nav-menu {
        margin: 1rem auto;
    }

    footer {
        border-top: 1px solid #ccc;
        margin-top: 2em;
    }
}

/* Profile image */
.image {
    margin: 1rem auto;
    width: 50%;
    height: auto;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (min-width: 40em) {
    .image {
        width: 30%;
        height: auto;
    }
}

@media screen and (min-width: 70em) {
    .image {
        width: 20%;
        height: auto;
    }
}

/* Bio */
.bio {
    margin: 1rem auto;
    text-align: center;
}

/* Services */
.service {
    background-color: rgb(247, 245, 245);
}

.serviceImg {
    margin: 1rem auto;
    width: 28%;
    height: auto;
}

.serviceImg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.service h3,
.service p {
    text-align: center;
}

@media screen and (min-width: 40em) {
    .serviceImg {
        width: 18%;
        height: auto;
    }

    section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        row-gap: 10px;
    }
}

@media screen and (min-width: 70em) {
    section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
    }
}

/* Footer */
footer {
    background-color: #fff;
    text-align: center;
    padding: 1rem 0;
}

.connectImg {
    width: 25%;
    margin: 1rem auto;
}

.connectImg img {
    width: 100%;
}

footer div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

@media screen and (min-width: 40em) {
    .connectImg {
        width: 10%;
    }
}

@media screen and (min-width: 70em) {
    .connectImg {
        width: 5%;
    }
}

